@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');

header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #EF2917;
    margin-left: 112px;
    margin-right: 112px;
    height: 130px;
    margin-top: -10px;
    padding-right: 120px;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    padding-top: 40px;
    color: #368FD3;
    font-size: 2em;
    font-weight: bold;
    font-family: 'tahoma';
    text-shadow: 1px 1px #ffdedb;
}
.logo {
    width: 175px;
    height: 160px;
    margin-top: -30px;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
body {
    background-color: #0B3954;
    margin-bottom: 0px;
}
.hero-img {
    margin-top: -10px;
    text-align: center;
    margin-left: 112px;
    margin-right: 112px;
}
.hero-img img {
    height: 600px;
    width: 100%;
}
.hero-img section{
    position: absolute;
    top: 80px;
    right: 43%;

}
section h1 {
    color: #368FD3;
    font-size: 3em;
    font-family: 'tahoma';
    text-shadow: 2px 2px #ffdedb;
}
footer {
    background-color: #77F0EA;
    margin-left: 112px;
    margin-right: 112px;
    height: 150px;
    margin-top: 175px;
}
footer div {
    margin-bottom: 0;
}
.main-index {
    margin-left: 112px;
    margin-right: 112px;
}
.main-index p {
    font-size: 2em;
    font-weight: 500;
    line-height: 2em;
}
.subpage1-heading {
    text-align: center;
    color: orangered;
    font-size: 2em;
    text-shadow: 2px 2px #ffdedb;
}
.subpage2-heading {
    text-align: center;
    color: #227db1;
    font-size: 2em;
    text-shadow: 1px 1px #ffdedb;
}
.subpage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p1 {
    grid-column: 1/3;
}
.p2 {
    grid-column: 1/2;
}
.sub-img {
    grid-column: 2/3;
    height: 600px;
    width: 100%;
    
}
.sub-main {
    margin-left: 112px;
    margin-right: 112px;
}
p {
    color: white;
    font-size: 2.2em;
    font-family: 'roboto';
    line-height: 1.5em;
}
.footer-grid {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
}
.footer-grid img {
    grid-column: 1;
    height: 150px;
}
.footer-grid h1 {
    font-size: 3em;
    color: #ff0062;
    margin-left: -200px;
    padding-top: 20px;
    text-shadow: 2px 2px #ffdedb;
}
.footer-grid a {
    text-decoration: none;
    font-size: 3em;
    color: #ff0062;
    font-weight: bold;
    padding-top: 50px;
    text-shadow: 2px 2px #ffdedb;
}
nav a:hover {
    background-color: #ffdedb;
    color: #ff0062;
    margin-bottom: 5px;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}