.button {
    background-color: aqua;
    color: blueviolet;
    padding: 16px;
    font-size: 16px;
    border: 0;
}
.drop {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: orchid;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover {
    background-color: #ddd;
}
.drop:hover .drop-content {
    display: block;
}
.drop:hover .button {
    background-color: #3e8e41;
}